header {
  margin-bottom: 50px;
  padding: 0 50px;
  width : 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;

  .logo{
    // width: 210px;
    // height: 68px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    a {
        text-decoration: none;
        color: #000;
    }
    a.active {
        text-decoration: underline;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 8px;
    font-size: 12px;
    gap

    nav {
      gap: 5px;
    }
  }
}
