main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;

    color: #FF6060;

    .ErrorStatus {
        font-size: 200px;
        font-weight: 700;
    }

    p {
        font-size: 36px;
        text-align: center;
    }

    a {
        color: #000;
        text-decoration: underline solid #000;
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        height: 500px;
        
        .ErrorStatus {
            font-size: 90px;
        }

        p {
            font-size: 18px;
        }

        a {
            font-size: 14px;
        }
    }
}