@use 'index.scss' ;

.comp-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
    @extend %comp-marg;

    @media screen and (max-width: 768px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}