@use '../../styles/common.scss' as *;

.comp-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
    @extend %comp-marg;
}

.card-container {
    $gap: 50px;
    gap: $gap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 100%;

    .card-wrapper {
        width: calc(33.33% - $gap);
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        .card-wrapper {
            width: 100%;
        }
    }
}